<template>
  <card-layout>
    <v-container fluid>
      <v-row no-gutters>
        <v-col cols="12">
          <patient-details-card :patient="patient" />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          Patient {{ $route.params.id }}
        </v-col>
      </v-row>
    </v-container>
  </card-layout>
</template>

<script>
import PatientDetailsCard from '@/components/cards/PatientDetailsCard.vue'

import { mapState } from 'vuex'

export default {
  components: {
    'patient-details-card': PatientDetailsCard
  },
  computed: {
    ...mapState('patient', ['patient'])
  }
}
</script>
