<template>
  <v-card>
    <v-card-title>
      {{ $t('tables.patients.headerText') }}
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        :label="$t('tables.patients.searchText')"
        single-line
        hide-details
      />
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="patients"
      :search="search"
      class="patient-data-table"
      fixed-header
      @click:row="(p) => selectPatient(p)"
    >
      <template v-slot:item.icon="{ item }">
        <v-avatar
          size="36px"
        >
          <img
            v-if="item.avatar"
            alt="Avatar"
            src="https://avatars0.githubusercontent.com/u/9064066?v=4&s=460"
          >
          <v-icon
            v-else
            color="blue"
          >
            mdi-account
          </v-icon>
        </v-avatar>
      </template>
      <!-- <template v-slot:item.address="{ item }">
        {{ item.street }} {{ item.houseNumber }} {{ item.houseNumberExt }}
      </template> -->
    </v-data-table>
  </v-card>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
  data () {
    return {
      search: '',
      headers: [
        {
          text: '',
          align: 'start',
          sortable: false,
          value: 'icon'
        },
        {
          text: this.$t('common.name'),
          align: 'start',
          sortable: true,
          value: 'name'
        },
        {
          text: this.$t('common.dateOfBirth'),
          sortable: true,
          value: 'dateOfBirth'
        },
        {
          text: this.$t('common.patientNumber'),
          sortable: true,
          value: 'patientNumber'
        },
        {
          text: this.$t('common.location'),
          sortable: true,
          value: 'location.locationInDepartment'
        },
        {
          text: this.$t('common.reanimationPolicy'),
          sortable: true,
          value: 'reanimationPolicy'
        },
        {
          text: this.$t('common.headOfTreatment'),
          sortable: true,
          value: 'leadDoctor.name'
        }
        // {
        //   text: this.$t('common.residence'),
        //   sortable: true,
        //   value: 'residence'
        // },
        // {
        //   text: this.$t('common.address'),
        //   sortable: true,
        //   value: 'address'
        // },
        // {
        //   text: this.$t('common.sex'),
        //   sortable: true,
        //   value: 'sex'
        // },
        // {
        //   text: this.$t('common.generalPractitioner'),
        //   sortable: true,
        //   value: 'generalPractitioner'
        // },
        // {
        //   text: this.$t('common.pharmacist'),
        //   sortable: true,
        //   value: 'pharmacist'
        // }
      ]
    }
  },
  computed: {
    ...mapState('patient', ['patients'])
  },
  methods: {
    ...mapMutations('patient', ['setPatient']),
    selectPatient (p) {
      this.setPatient(p)
      this.$router.push({ name: 'Patient', params: { id: p.patientNumber } })
    }
  }
}
</script>

<style>
.patient-data-table tr {
  cursor: pointer;
}
</style>
