<template>
  <v-container>
    <v-row no-gutters>
      <v-col cols="auto" align-self="center">
        <v-avatar
          :size="avatarSize"
          color="grey"
        >
          P
          <!-- <v-img :src="item.src"></v-img> -->
        </v-avatar>
      </v-col>
      <v-col cols="auto" align-self="center" class="ml-2">
        <div>
          <div class="subtitle-2">
            {{ displayName }}
          </div>
          <div class="caption">
            {{ birthDate.toLocaleDateString('nl') }}
          </div>
          <div class="caption">
            {{ patient.patientNumber }}
          </div>
        </div>
      </v-col>
      <v-col cols="auto" class="ml-5">
        <div>
          <div class="body-2">
            {{ $t('common.bloodType') }}: {{ patient.bloodType }}
          </div>
        </div>
      </v-col>
      <v-spacer />
      <v-col cols="auto">
        <div>
          {{ $t('common.generalPractitioner') }}
        </div>
        <div class="caption">
          {{ patient.generalPractitioner.name }}
        </div>
        <div class="caption">
          {{ patient.generalPractitioner.phoneNumber }}
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  props: {
    patient: {
      type: Object,
      default: () => null
    }
  },
  computed: {
    displayName () {
      const sexName = this.$t(`common.sexNames.${this.patient.sex.toLowerCase()}`)
      return `(${sexName[0]}) ${this.patient.name}`
    },
    birthDate () {
      return new Date(this.patient.dateOfBirth)
    },
    avatarSize () {
      let size = 200
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          size = 50
          break
        case 'sm':
          size = 60
          break
        case 'md':
          size = 70
          break
        case 'lg':
          size = 80
          break
        case 'xl':
          size = 100
          break
      }
      return size
    }
  }
}
</script>
