<template>
  <card-layout>
    <v-container fluid>
      <v-row>
        <v-col>
          <department-selector
            :departments="departments"
            :selected-departments="selectedDepartments"
            :favourite-departments="favouriteDepartments"
            @selection-changed="(c) => selectedDepartments = c"
            @favourite="(d) => addFavouriteDepartment(d)"
            @unfavourite="(d) => removeFavouriteDepartment(d)"
          />
        </v-col>
      </v-row>
    </v-container>
  </card-layout>
</template>

<script>
import { mapState } from 'vuex'

export default {
  components: {
    'department-selector': () => import(/* webpackChunkName: "departments" */ '../components/pickers/Department.vue')
  },
  computed: {
    ...mapState('department', ['departments'])
  },
  data () {
    return {
      selectedDepartments: [],
      favouriteDepartments: []
    }
  },
  methods: {
    addFavouriteDepartment (d) {
      this.favouriteDepartments.push(d)
    },
    removeFavouriteDepartment (d) {
      this.favouriteDepartments.splice(
        this.favouriteDepartments.findIndex(
          (v) => v.id === d.id
        ),
        1
      )
    }
  }
}
</script>
