<template>
  <v-navigation-drawer
    v-model="drawer"
    app
    dark
    stateless
    color="blue-grey darken-4"
  >
    <v-container
      class="white--text"
    >
      <v-row justify="center">
        <v-col class="text-center" cols="8">
          <v-img contain eager src="/img/icons/datastem-icon-200x200.png"/>
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-col sm="auto">
          <span class="title">DataMed</span>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-list dense>
            <v-list-item link v-for="nav in navigation" :key="nav.name" :to="nav.path">
              <v-list-item-action>
                <v-icon>{{ nav.icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>{{ nav.name }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-col>
      </v-row>
    </v-container>
  </v-navigation-drawer>
</template>

<script>
export default {
  props: {
    drawer: Boolean
  },
  data () {
    return {
      navigation: [
        { name: 'Home', icon: 'mdi-home', path: '/' },
        { name: 'Afdelingen', icon: 'mdi-map-marker', path: '/departments' },
        { name: 'Agenda', icon: 'mdi-calendar', path: '/agenda' }
      ]
    }
  }
}
</script>

<style>

#drawer {
  background-color: #5f634f;
}

</style>
