<template>
  <card-layout>
    <v-container fluid>
      <v-row>
        <v-col cols="12">
          Content
        </v-col>
      </v-row>
    </v-container>
  </card-layout>
</template>

<script>
// @ is an alias to /src
// import WorkorderTable from '@/components/WorkorderTable.vue'
// import WorkorderTree from '@/components/WorkorderTree.vue'
// import CrewBarChart from '@/components/CrewBarChart.vue'

// import { mapActions, mapState } from 'vuex'

export default {

}
</script>
