<template>
  <v-container
    class="fill-height"
    fluid
  >
    <v-row
      align="center"
      justify="center"
    >
      <v-col
        lg="5"
        md="8"
        sm="12"
      >
        <v-card class="elevation-12">
          <v-toolbar
            color="primary"
            dark
            flat
          >
            <v-toolbar-title>
              Login
            </v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <p v-if="loginStatus">
              {{ loginStatus }}
            </p>
            <v-form
              id="login-form"
              @submit.prevent="login"
            >
              <v-text-field
                id="username"
                v-model="username"
                prepend-icon="mdi-account"
                name="login"
                label="Login"
                type="text"
              />

              <v-text-field
                id="password"
                v-model="password"
                prepend-icon="mdi-lock"
                name="password"
                label="Password"
                type="password"
              />
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              color="primary"
              :loading="loading"
              :disabled="loading"
              form="login-form"
              type="submit"
              depressed
            >
              Login
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  data () {
    return {
      username: '',
      password: '',
      warnings: []
    }
  },
  computed: {
    ...mapState(['loading', 'loggedIn', 'authorization', 'loginStatus']),
    ...mapState('user', ['user'])
  },
  watch: {
    user: {
      handler (user) {
        if (user) {
          this.$router.push('/')
        }
      }
    }
  },
  mounted () {
    if (this.authorization) {
      this.getCommon()
    }
  },
  methods: {
    ...mapActions(['getCommon']),
    login () {
      this.$store.dispatch('login', { username: this.username, password: this.password })
    }
  }
}
</script>
