<template>
  <card-layout>
    <v-container fluid>
      <v-row>
        <v-col cols="12">
          Patiënten
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <patienten-tabel />
        </v-col>
      </v-row>
    </v-container>
  </card-layout>
</template>

<script>
// @ is an alias to /src
// import WorkorderTable from '@/components/WorkorderTable.vue'
// import WorkorderTree from '@/components/WorkorderTree.vue'
import PatientenTabel from '@/components/tables/Patients.vue'

// import { mapActions, mapState } from 'vuex'

export default {
  components: {
    'patienten-tabel': PatientenTabel
  }
}
</script>
