<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12">
        <v-autocomplete
          :items="deps"
          :value="selectedDepartments"
          item-text="name"
          label="Geselecteerde afdelingen"
          multiple
          chips
          deletable-chips
          clearable
          @change="(val) => $emit('selection-changed', val)"
        >
          <template v-slot:item="data">
            <template v-if="data.item === null">
              <v-list-item-content></v-list-item-content>
            </template>
            <template v-else>
              <v-list-item-icon>
                <v-btn
                  v-if="!departmentIsFavourite(data.item)"
                  icon
                  @click.stop="$emit('favourite', data.item)"
                >
                  <v-icon color="pink">mdi-star-outline</v-icon>
                </v-btn>
                <v-btn
                  v-else
                  icon
                  @click.stop="$emit('unfavourite', data.item)"
                >
                  <v-icon color="pink">mdi-star</v-icon>
                </v-btn>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>{{ data.item.name }}</v-list-item-title>
              </v-list-item-content>
              <v-list-item-icon v-if="data.attrs.inputValue">
                <v-icon>mdi-eye</v-icon>
              </v-list-item-icon>
            </template>
          </template>
        </v-autocomplete>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  props: {
    departments: {
      type: Array,
      default: () => []
    },
    selectedDepartments: {
      type: Array,
      default: () => []
    },
    favouriteDepartments: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    deps () {
      const d = JSON.parse(JSON.stringify(this.departments))
      return d
        .sort((a, b) => a.name <= b.name ? -1 : 1)
        .sort((a, b) => !this.departmentIsFavourite(a) && this.departmentIsFavourite(b) ? 1 : 0)
    },
    favouriteDepartmentIds () {
      return this.favouriteDepartments.map(d => d.id)
    }
  },
  methods: {
    departmentIsFavourite (d) {
      return this.favouriteDepartmentIds.includes(d.id)
    }
  }
}
</script>
